body {
    font-family: "Microsoft JhengHei", sans-serif;
    background-color: #f5f6f7;
    margin: 0;
   
}

/* Header */

.header-bar {

    width: 96%;          /* 不要滿版 */

    height:15px;

    background-color: #003366;

    position: relative;

    top: 58px;         /* 往下 */

    left: 2%;            /* 置中 */

    border-radius: 5px;  /* 圓角 */

    box-shadow: 0 2px 6px rgba(0,0,0,0.15);

    z-index: 1000;

}

/* 卡片 */

.card {
    background-color: white;
    width: 90%;
    max-width: 520px;
    padding: 30px 35px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
    text-align: center;
    margin: 40px auto;
}

/* Logo */

.logo-img {
    width: 60px;
    margin-bottom: 15px;
}

h2{
    color: #003366;
    margin: 0 0 10px 0;
}

.subtitle {
    color: #666;
    font-size: 14px;
    margin-bottom: 15px;
}

.message {
    color: #333;
    line-height: 1.7;
    margin-bottom: 25px;
    font-size: 15px;
}

.progress-text {
    font-weight: bold;
    margin-bottom: 6px;
}
body {
    font-family: "Microsoft JhengHei", sans-serif;
    background-color: #f5f6f7;
    margin: 0;
   
}

/* Header */

.header-bar {

    width: 96%;          /* 不要滿版 */

    height:15px;

    background-color: #003366;

    position: relative;

    top: 58px;         /* 往下 */

    left: 2%;            /* 置中 */

    border-radius: 5px;  /* 圓角 */

    box-shadow: 0 2px 6px rgba(0,0,0,0.15);

    z-index: 1000;

}

/* 卡片 */

.card {
    background-color: white;
    width: 90%;
    max-width: 520px;
    padding: 30px 35px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
    text-align: center;
    margin: 40px auto;
}

/* Logo */

.logo-img {
    width: 60px;
    margin-bottom: 15px;
}

h2{
    color: #003366;
    margin: 0 0 10px 0;
}

.subtitle {
    color: #666;
    font-size: 14px;
    margin-bottom: 15px;
}

.message {
    color: #333;
    line-height: 1.7;
    margin-bottom: 25px;
    font-size: 15px;
}

.progress-text {
    font-weight: bold;
    margin-bottom: 6px;
}
/* 倒數 */

.time {

    font-size: 20px;

    font-weight: bold;

    color: #ff6600;

    margin-bottom: 20px;

}

/* 按鈕 */

button {

    padding: 10px 22px;

    font-size: 15px;

    border: none;

    border-radius: 6px;

    background-color: #003366;

    color: white;

    cursor: pointer;

    margin-bottom: 25px;

}

button:hover {

    background-color: #0055aa;

}

/* 聯絡 */

.contact {

    text-align: left;

    font-size: 13px;

    line-height: 1.6;

    color: #444;

    border-top: 1px solid #ddd;

    padding-top: 15px;

}

/* 火車晃動 */

@keyframes trainShake {

    0% {
        transform: translate(-50%, -70%) rotate(0deg);
    }

    25% {
        transform: translate(-50%, -66%) rotate(2deg);
    }

    50% {
        transform: translate(-50%, -70%) rotate(0deg);
    }

    75% {
        transform: translate(-50%, -74%) rotate(-2deg);
    }

    100% {
        transform: translate(-50%, -70%) rotate(0deg);
    }

}
.arrival-message {
     letter-spacing: 2px;

    box-shadow: 0 2px 6px rgba(0,0,0,0.2);

    display: none;

    margin: 6px auto 18px;

    padding: 8px 16px;

    font-size: 18px;

    font-weight: bold;

    color: white;

    background-color: #f5bc67;

    border-radius: 6px;

    animation: blinkSoft 1.2s infinite;


 width: fit-content;

    max-width: 80%;

    text-align: center;

}

/* 98% 更緊急 */

.arrival-urgent {

    background-color: #fc4444;

    font-size: 18px;

    animation: blinkFast 0.6s infinite;

}

/* 閃爍動畫 */

@keyframes blinkSoft {

    0% { opacity: 1; }

    50% { opacity: 0.6; }

    100% { opacity: 1; }

}

@keyframes blinkFast {

    0% { opacity: 1; }

    50% { opacity: 0.3; }

    100% { opacity: 1; }

}


